<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Env Declaration Rotate <%= EnvData.MY_SECRET %></p>
    <h1>HI ENV</h1>
    <h2>Today</h2>
    <p><%- JSON.stringify(DataSet) %></p>
  </body>
</html>
